@mixin transitian($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;}

img {max-width: 100%;}
ul li {list-style-type: none;}
/*header { @include transition(0.3s); width: 100%; background: rgba(0, 0, 0, 0.8); position: fixed; top: 50%; left: 50%; margin-top: -150px; margin-left: -200px;}*/
h1, li, h4, h2, p {font-family: 'Dosis', sans-serif;}
header h1, li, h4 {margin-left: 80px;  color: white;}
#datesection {font-size: 18px;}
p {font-size: 17px;}
header li {font-size: 20px; margin: 4px 4px 0px 8px; display: inline-block;}
@media (max-width: 400px) {header li {display: block;} }
#mainpage { height: 700px; background-position: center; background-attachment: fixed; background-image:url('../img/bground.jpg');background-size:cover; background-repeat: no-repeat; }
.update_header { font-weight: bold; text-decoration: underline; }
#update_title {color: green;}
#headsection {position: absolute; color: white;}
#weathersection span {font-size: 18px;}
#weathersection {font-family: 'Dosis', sans-serif;}
#weathers {background-color: rgba(0, 0, 0, 0.5); text-align: center; margin-top: 15px; }
.wi {font-size: 30px;}
#updates {height: 900px;}
#titlesection { transition: 0.3s ease; width: 200px; position: fixed; background-color: rgba(0, 0, 0, 0.7); right: 0; }
#titlesectioncontent {text-align:center;}
#titlesectioncontent h1 {margin-top: 0px;}
#itempanel {position: fixed; right: 0; margin-top: 250px; margin-right: 5px;}
#itempanel li, #itempanel ul {margin: 0px;}
#itempanel i { color: tomato; background-color: antiquewhite; font-size: 30px;margin: 4px; border: 1px solid rosybrown; }
.itemhold {text-align: center; cursor: pointer;}
#mainpagesheet {display: none; height: 700px; background-position: center; background-attachment: fixed; background-size:cover; background-repeat: no-repeat;}